<div class="Latest_activity">
    <b>Latest Activities:</b>
    <ul>
    @{
        if (@ViewBag.LatestMessages.Count != 0)
        {
            foreach(var m in @ViewBag.LatestMessages)
            {
                <li>
                    @m.Location.LocationName: @m.MessageTxt 
                    by @m.Creator.UserName @m.CreatedAt.ToString("MM/dd h:mm tt")
                </li>
            }
        }
    }
    </ul>
</div>