<div>
    <h5>Latest Activity Log</h5>
    <ul>
    @{
        if (@ViewBag.LatestMessages.Count != 0)
        {
            foreach(var m in @ViewBag.LatestMessages)
            {
                <li>@m.Creator.UserName : @m.MessageTxt @m.CreatedAt.ToString("MM/dd h:mm tt")</li>
            }
        }
    }
    </ul>

<p>Temp List of Locations</p>
<ul>
    @foreach(var l in @ViewBag.AllLocations)
    {
        <li><a href="/@l.LocationId">@l.LocationName</a></li>
    }
</ul>

</div>