<div>
    @using DojoInfoCenter.Models
    <p>@ViewBag.ThisLocation.LocationName</p>
    <ul>
    @{
        if (@ViewBag.MsgsPerLocation.Count != 0)
        {
            foreach(var m in @ViewBag.MsgsPerLocation)
            {
                <li>@m.CreatedAt.ToString("MM/dd h:mm tt")
                    @m.Creator.UserName : 
                    <br>
                    @m.MessageTxt 
                </li>
            }
        }
    }
    </ul>
    @model MessageObject
    <p>Post a Message!</p>
    <form asp-action="newMessage" asp-controller="Main" method="post">
        <input type="hidden" asp-for="IsArchived" value="False">
        <input type="hidden" asp-for="UserId" value="@ViewBag.LoggedInUserId">
        <input type="hidden" asp-for="LocationId" value="@ViewBag.ThisLocation.LocationId">
        <textarea asp-for="MessageTxt"></textarea>
        <br>
        <button type="submit">Post a message</button>
    </form>

    <button class="close">Close</button>

</div>